{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script"
    },
    "rules": {
        "indent": "off",
        "linebreak-style": "off",
        "semi": "off",
        "no-console": "off",
        "lines-around-comment": "off",
        "max-len": "off",
        "camelcase": "off",
        "eqeqeq": "off",
        "dot-notation": "off",
        "no-useless-escape": "off",
        "no-undef": "1",
        "space-in-parens": "off",
        "quotes": "off",
        "key-spacing": "off"
    }
}