[submodule "tools/lua-inspect"]
	path = tools/lua-inspect
	url = https://github.com/davidm/lua-inspect.git

[submodule "tools/micropython-docker-build"]
	path = tools/micropython-docker-build
	url = https://github.com/suculent/micropython-docker-build.git

[submodule "tools/nodemcu-docker-build"]
	path = tools/nodemcu-docker-build
	url = https://github.com/suculent/nodemcu-docker-build.git

[submodule "tools/nodemcu-firmware"]
	path = tools/nodemcu-firmware
	url = https://github.com/suculent/nodemcu-firmware.git

[submodule "tools/arduino-docker-build"]
	path = tools/arduino-docker-build
	url = https://github.com/suculent/arduino-docker-build

[submodule "tools/platformio-docker-build"]
	path = tools/platformio-docker-build
	url = https://github.com/suculent/platformio-docker-build

[submodule "tools/mongoose-docker-build"]
	path = tools/mongoose-docker-build
	url = https://github.com/suculent/mongoose-docker-build
[submodule "spec/test_repositories/thinx-firmware-esp32-ino"]
	path = spec/test_repositories/thinx-firmware-esp32-ino
	url = git@github.com:suculent/thinx-firmware-esp32-ino.git
[submodule "spec/test_repositories/thinx-firmware-esp8266-ino"]
	path = spec/test_repositories/thinx-firmware-esp8266-ino
	url = git@github.com:suculent/thinx-firmware-esp8266-ino.git
[submodule "spec/test_repositories/thinx-firmware-esp8266-upy"]
	path = spec/test_repositories/thinx-firmware-esp8266-upy
	url = git@github.com:suculent/thinx-firmware-esp8266-upy.git
[submodule "spec/test_repositories/thinx-firmware-esp8266-lua"]
	path = spec/test_repositories/thinx-firmware-esp8266-lua
	url = git@github.com:suculent/thinx-firmware-esp8266-lua.git
[submodule "spec/test_repositories/thinx-firmware-esp8266-pio"]
	path = spec/test_repositories/thinx-firmware-esp8266-pio
	url = https://github.com/suculent/thinx-firmware-esp8266-pio.git
