[submodule "builders/arduino-docker-build"]
	path = builders/arduino-docker-build
	url = https://github.com/suculent/arduino-docker-build

[submodule "builders/lua-inspect"]
	path = builders/lua-inspect
	url = https://github.com/davidm/lua-inspect.git

[submodule "builders/micropython-docker-build"]
	path = builders/micropython-docker-build
	url = https://github.com/suculent/micropython-docker-build.git

[submodule "builders/mongoose-docker-build"]
	path = builders/mongoose-docker-build
	url = https://github.com/suculent/mongoose-docker-build

[submodule "builders/nodemcu-docker-build"]
	path = builders/nodemcu-docker-build
	url = https://github.com/suculent/nodemcu-docker-build.git

[submodule "builders/nodemcu-firmware"]
	path = builders/nodemcu-firmware
	url = https://github.com/suculent/nodemcu-firmware.git

[submodule "builders/platformio-docker-build"]
	path = builders/platformio-docker-build
	url = https://github.com/suculent/platformio-docker-build
