# System files
.DS_Store
node_modules/

# Runtime data that are not to be stored from server back to repository
data/
repositories/
# statistics/ lets try to keep those

mqtt_passwords

cookie.jar

coverage/
.nyc_output/

# User secrets are required for testing
#conf/config.json
#conf/thinx-cloud-firebase-adminsdk-wjhzo-9fd8c42211.json

# Sonar
.scannerwork/

# Log file copy, should be discarded after use
statistics/stats.temp