# System files
.DS_Store
node_modules/
pid/
vault

# Runtime data that are not to be stored from server back to repository
sessions/**
logs/**
data/
repositories/

mqtt_passwords
dhparams.pem
dump.rdb
conf/config.json

cookies.jar
nohup.out

coverage/
.nyc_output/

# User secrets are required for testing
#conf/config.json
#conf/thinx-cloud-firebase-adminsdk-wjhzo-9fd8c42211.json

# Sonar
.scannerwork/

statistics/**
