builder.thinx.dist.json
.env
lcov.info
package-lock.json

# Sqreen.io configuration
sqreen.json

package_lock.json

deploy-hook.log
deploy.out
mosquitto.lo*
./mqtt_passwords
"./mqtt_passwords "
redis.log

# System files
.DS_Store
node_modules/
pid/
vault

# OS sdks
repos/

# Runtime data that are not to be stored from server back to repository
sessions/**
logs/**
data/**
repositories/
avatars/*

dhparams.pem
dump.rdb

cookies.jar
nohup.out

coverage/
.nyc_output/

# User secrets are required for testing
conf/config-prod.json
conf/config.json
conf/thinx-cloud-firebase-adminsdk-wjhzo-9fd8c42211.json
conf/google-oauth.json
conf/twitter-oauth.json
conf/github-oauth.json

# Sonar
.scannerwork/

statistics/**

# Codacy
.profile

# Circle CI
./package-lock.json

# Mosquitto
mosquitto.aclfile
mqtt_passwords
