{
  "check-coverage": true,
  "per-file": false,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 75,
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "spec/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": true,
  "all": true
}
