export ENVIRONMENT=test
export THINX_HOSTNAME=localhost
export THINX_OWNER_EMAIL=admin@localhost
export REVISION=5146
export CODACY_PROJECT_TOKEN=none
export CODE_CLIMATE_CODE=none
export ROLLBAR_ACCESS_TOKEN=none
export ROLLBAR_ENVIRONMENT=development
export SQREEN_APPNAME=none
export SQREEN_TOKEN=none
export COUCHDB_ADMIN=couchdb
export COUCHDB_PASS=couchdb
export COUCHDB_COOKIE=couchdb
export COUCHDB_SECRET=couchdb
export NODENAME=localhost
export REDIS_PASSWORD=redis
