export THINX_HOSTNAME=
export THINX_OWNER_EMAIL=
export REVISION=
export CODACY_PROJECT_TOKEN=
export CODE_CLIMATE_CODE=
export ROLLBAR_ACCESS_TOKEN=
export ROLLBAR_ENVIRONMENT=development
export SQREEN_APPNAME=
export SQREEN_TOKEN=
export COUCHDB_ADMIN=
export COUCHDB_PASS=
export COUCHDB_COOKIE=
export COUCHDB_SECRET=
export NODENAME=localhost
export REDIS_PASSWORD=
