version: '3.2'

networks:
  nat:
    external: true
  internal:
    external: false

services:

  thinx-redis:
    env_file: .env
    networks:
      - internal
    image: suculent/redis-slave:latest
    build: ./redis
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}", "--port", "6379"]
    env_file:
      - .env
    environment:
      - ALLOW_EMPTY_PASSWORD=no
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    restart: always
    ports:
      - "6379"
    volumes:
      - /mnt/data/redis:/data

  thinx-api:
    # because of DIND builders
    privileged: true
    # reserve enough for builders
    shm_size: 1024M
    # tty: true
    restart: always
    networks:
      - nat
      - internal
    env_file: .env
    environment:
      - THINX_HOSTNAME=${THINX_HOSTNAME}
      - THINX_OWNER_EMAIL=${THINX_OWNER_EMAIL}
      - REVISION=${REVISION}
      - ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}
      - ROLLBAR_ENVIRONMENT=${ROLLBAR_ENVIRONMENT}
      #- SQREEN_TOKEN=${SQREEN_TOKEN} # (optional, free for open-source)
    build: .
    # image: suculent/thinx-device-api
    ports:
#      - 7441:7441 # Reserved for Web HTTPS, 7440 is Web HTTP
      - 7442:7442 # API (HTTP)
      - 7443:7443 # API (HTTPS)
      - 7444:7444 # WebSocket
      - 7445:7445 # WebSocket SSL (reserved)
      - 9002:9002 # Incoming GIT (User) Webhooks
    volumes:
      - /mnt/data/deploy:/mnt/data/deploy # Deployment
      - /mnt/data/mosquitto:/mnt/data/mosquitto # Authentication
      - /mnt/data/repos:/mnt/data/repos # Git
      - /mnt/data/ssl:/mnt/data/ssl
      - /mnt/data/ssh_keys:/mnt/data/ssh_keys
      - /var/run/docker.sock:/var/run/docker.sock # DIND
      - /var/lib/docker
      - /cache
    labels:
      - "traefik.docker.network=nat"
      - "traefik.enable=true"
      - "traefik.port=7442"
      - "traefik.backend=thinx-api"
      - "traefik.frontend.rule=Host:${THINX_HOSTNAME}"
