version: '2.2'
networks:
  nat:
    external: true
  internal:
    external: false
services:
  mosquitto:
    env_file: .env
    build: ./services/broker
    ports:
      - '1883:1883' # mqtt
      - '1884:1883' # mqtts
      - '8883:8883' # websocket
    restart: unless-stopped
    networks:
      - nat
      - internal
    labels:
      - traefik.backend.mosquitto.noexpose
  couchdb:
    env_file: .env
    build: ./services/couchdb
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - 'curl -XGET http://localhost:5984'
      interval: 10s
      timeout: 50s
      retries: 5
    environment:
      - 'NODENAME=${NODENAME}'
      - 'COUCHDB_USER=${COUCHDB_USER}'
      - 'COUCHDB_PASSWORD=${COUCHDB_PASSWORD}'
      - 'COUCHDB_ADMIN=${COUCHDB_USER}'
      - 'COUCHDB_PASS=${COUCHDB_PASSWORD}'
      - 'COUCHDB_COOKIE=${COUCHDB_COOKIE}'
      - 'COUCHDB_SECRET=${COUCHDB_SECRET}'
    ports:
      - 5984:5984
    networks:
      - nat
      - internal
  thinx-redis:
    env_file: .env
    networks:
      - internal
    build:
      context: ./services/redis
      args:
        - ALLOW_EMPTY_PASSWORD=no
        - 'REDIS_PASSWORD=${REDIS_PASSWORD}'
        - 'REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL'
    command:
      - redis-server
      - '--requirepass'
      - '${REDIS_PASSWORD}'
      - '--port'
      - '6379'
    environment:
      - ALLOW_EMPTY_PASSWORD=no
      - 'REDIS_PASSWORD=${REDIS_PASSWORD}'
      - 'REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL'
    restart: unless-stopped
    ports:
      - 6379
    labels:
      - traefik.backend.thinx-redis
  transformer:
    env_file: .env
    user: transformer
    build:
      context: ./services/transformer
      args:
        - 'SQREEN_APP_NAME=${SQREEN_APP_NAME}'
        - 'SQREEN_TOKEN=${SQREEN_TOKEN}'
        - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
        - 'ROLLBAR_ENVIRONMENT=${ROLLBAR_ENVIRONMENT}'
        - REVISION=1
    restart: unless-stopped
    environment:
      - 'SQREEN_APP_NAME=${SQREEN_APP_NAME}'
      - 'SQREEN_TOKEN=${SQREEN_TOKEN}'
      - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
      - 'ROLLBAR_ENVIRONMENT=${ROLLBAR_ENVIRONMENT}'
      - REVISION=1
    networks:
      - internal
    ports:
      - 7474
    labels:
      - traefik.backend.transformer.noexpose

  worker:
    env_file: .env
    image: registry.thinx.cloud:5000/thinx/worker:swarm
    environment:
      - "SQREEN_TOKEN=${SQREEN_TOKEN}"
      - "ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}"
      - "ROLLBAR_ENVIRONMENT=${ROLLBAR_ENVIRONMENT}"
      - "THINX_SERVER=${THINX_SERVER}"
      - "WORKER_SECRET=${WORKER_SECRET}"
    networks:
      - internal
    labels:
      - traefik.backend.worker.noexpose
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker
      - /cache
      
  api:
    privileged: true
    shm_size: 2048M
    restart: "no"
    depends_on:
      - transformer
      - thinx-redis
      - mosquitto
#      couchdb:
#        condition: service_started
#      transformer:
#        condition: service_started
#      thinx-redis:
#        condition: service_started
#      mosquitto:
#        condition: service_healthy
    networks:
      - nat
      - internal
    env_file: .env
    build:
      context: .
      args:
        - 'THINX_HOSTNAME=${THINX_HOSTNAME}'
        - 'THINX_OWNER_EMAIL=${THINX_OWNER_EMAIL}'
        - 'REVISION=${REVISION}'
        - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
        - 'ROLLBAR_ENVIRONMENT=${ROLLBAR_ENVIRONMENT}'
        - 'SQREEN_TOKEN=${SQREEN_TOKEN}'
        - 'SQREEN_APP_NAME=${SQREEN_APP_NAME}'
        - 'AQUA_SEC_TOKEN=${AQUA_SEC_TOKEN}'
        - 'ENVIRONMENT=${ENVIRONMENT}'
        - 'COUCHDB_USER=${COUCHDB_USER}'
        - 'COUCHDB_PASSWORD=${COUCHDB_PASSWORD}'
        - 'WORKER_SECRET=${WORKER_SECRET}'
        - 'SONAR_TOKEN=${SONAR_TOKEN}'
    environment:
      - 'ENVIRONMENT=${ENVIRONMENT}'
      - 'COUCHDB_USER=${COUCHDB_USER}'
      - 'COUCHDB_PASSWORD=${COUCHDB_PASSWORD}'
      - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
      - 'SONAR_TOKEN=${SONAR_TOKEN}'
    ports:
      - '7442:7442'
      - '7443:7443'
      - '3000' # worker socket
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - '/var/lib/docker'
      - '/cache'
      - '/mnt/data/statistics:/mnt/data/statistics'
    labels:
      - traefik.docker.network=nat
      - traefik.enable=true
      - traefik.port=7442
      - traefik.backend=thinx-api
      - 'traefik.frontend.rule=Host:${THINX_HOSTNAME}'

  console:
    depends_on:
      - api
    env_file:
      - .env
    build:
      context: ./services/console/src
      args:
        - NGINX_PORT=80
        - 'NGINX_HOST=${WEB_HOSTNAME}'
        - 'LANDING_HOSTNAME=${LANDING_HOSTNAME}'
        - 'WEB_HOSTNAME=${WEB_HOSTNAME}'
        - 'API_HOSTNAME=${API_HOSTNAME}'
        - 'API_BASEURL=${API_BASEURL}'
        - 'ENTERPRISE=${ENTERPRISE}'
        - 'ENVIRONMENT=${ENVIRONMENT}'
        - 'GOOGLE_ANALYTICS_ID=${GOOGLE_ANALYTICS_ID}'
        - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
        - 'CRISP_WEBSITE_ID=${CRISP_WEBSITE_ID}'
    networks:
      - nat
      - internal
#    logging:
#      driver: none
    ports:
      - '8000:80'
    restart: unless-stopped # may be required for updating SSL certs
    environment:
      - NGINX_PORT=80
      - 'NGINX_HOST=${WEB_HOSTNAME}'
      - 'LANDING_HOSTNAME=${LANDING_HOSTNAME}'
      - 'WEB_HOSTNAME=${WEB_HOSTNAME}'
      - 'API_HOSTNAME=${API_HOSTNAME}'
      - 'API_BASEURL=${API_BASEURL}'
      - 'ENTERPRISE=${ENTERPRISE}'
      - 'ENVIRONMENT=${ENVIRONMENT}'
      - 'GOOGLE_ANALYTICS_ID=${GOOGLE_ANALYTICS_ID}'
      - 'ROLLBAR_ACCESS_TOKEN=${ROLLBAR_ACCESS_TOKEN}'
      - 'CRISP_WEBSITE_ID=${CRISP_WEBSITE_ID}'
    labels:
      - traefik.enable=true
      - traefik.port=80
      - traefik.backend=console
      - 'traefik.frontend.rule=Host:${WEB_HOSTNAME}'
      - 'traefik.frontend.entryPoints=http,https'
      - traefik.frontend.headers.SSLRedirect=false
      - traefik.frontend.headers.SSLForceHost=true
      - 'traefik.frontend.headers.SSLHost=${WEB_HOSTNAME}'
#      - traefik.frontend.headers.forceSTSHeader=true
#      - traefik.frontend.headers.STSSeconds=315360000
#      - traefik.frontend.headers.STSIncludeSubdomains=true
#      - traefik.frontend.headers.STSPreload=true
