<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <a ui-sref="dashboard">Home</a>
    <i class="fa fa-circle"></i>
  </li>
  <li class="active"> RSA Key Management </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
  <div class="col-md-12">
    <div class="note note-info" ng-hide="$root.profile.info.goals.includes('rsakey-info')">
      <h3>RSA Keys
        <span class="close" data-close="note" ng-click="$root.profile.info.goals.push('rsakey-info'); $emit('saveProfile');"></span>
      </h3>
      <p>
        <b>Access your private repositories</b><br><br>
        Add your RSA keys for secure read-only access to your private git repositories.
      </p>
    </div>

    <!-- BEGIN QUICK NAV -->
    <nav class="quick-nav" ng-show="selectedItems.length > 0">
      <a class="quick-nav-trigger" href="#">
        <span aria-hidden="true"></span>
      </a>
      <ul>
        <li>
          <a href="#" ng-click="revokeRsakeys()">
            <span>Revoke {{selectedItems.length}} Item{{selectedItems.length > 1 ? "s" : ""}}</span>
            <i class="icon-trash"></i>
          </a>
        </li>
        <li>
          <a href="#" ng-click="selectedItems = [];">
            <span>Deselect All</span>
            <i class="icon-close"></i>
          </a>
        </li>
      </ul>
      <span aria-hidden="true" class="quick-nav-bg"></span>
    </nav>
    <div class="quick-nav-overlay"></div>
    <!-- END QUICK NAV -->

    <!-- BEGIN: ACCORDION DEMO -->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <i class="icon-lock font-green-sharp"></i>
          <span class="caption-subject bold uppercase">RSA Keys</span>
          <span class="caption-helper hide"></span>
        </div>
        <div class="actions hide">
          <a class="btn btn-circle btn-icon-only btn-default" href="#">
            <i class="icon-cloud-upload"></i>
          </a>
          <a class="btn btn-circle btn-icon-only btn-default" href="#">
            <i class="icon-wrench"></i>
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="btn green-haze btn-outline" ng-click="resetModal()" data-target="#pageModal" data-toggle="modal">Create RSA Key</a>
            <div class="btn-group btn-actions hide">
              <a ng-show="selectedItems.length > 0" class="btn red btn-outline" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i> Actions
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu pull-left">
                <li><a href="javascript:;" ng-click="revokeRsakeys()"><i class="icon-trash"></i> Revoke selected</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 text-right">
            <span class="input-icon right xtop-list-search">
              <i class="icon-magnifier"></i>
              <input type="text" class="form-control form-control-solid" ng-model="searchText" placeholder="Search...">
            </span>
          </div>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
          <table class="table table-hover table-light">
            <tr ng-repeat="rsakey in $root.rsakeys | propsFilter:{fingerprint:searchText,name:searchText}" ng-click="checkItem(rsakey.fingerprint)" ng-class="selectedItems.indexOf(rsakey.fingerprint) > -1 ? 'selected-row' : 'default-row'">
              <td>
                <div class="row-item-title">{{rsakey.name}}</div>
                <div class="key-label monospace-info">{{rsakey.fingerprint}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- BEGIN FORM-->
  <form ng-submit="addRsakey()" class="form-horizontal form-bordered" name="rsakeyModal">
    <div id="pageModal" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">New RSA Key</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label col-md-3">Key Alias</label>
              <div class="col-md-9">
                <input type="text" name="rsakeyAlias" ng-model="rsakeyAlias" class="form-control" placeholder="New Key" />
              </div>
            </div>
            <div class="form-group last">
              <label class="control-label col-md-3">Key Value</label>
              <div class="col-md-9">
                <textarea name="rsakeyValue" ng-model="rsakeyValue" class="form-control" placeholder="Paste public key here...")></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addRsakey()" ng-disabled="(rsakeyAlias == null || rsakeyAlias.length < 1) || (rsakeyValue == null || rsakeyValue.length < 1)"><i class="fa fa-check"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- END FORM-->
</div>
<!-- END MAIN CONTENT -->


<!-- START PAGE LOG OVERLAY -->
<div ng-controller="LogviewController" class="log-view-overlay-conatiner" style="display:none">
  <div class="log-view-overlay-controls">
    <a ng-click="wsstailLog($root.modalBuildId)" title="Refresh status"><i class="icon-refresh"></i></a>
    <a ng-click="switchWrap()" title="Toggle Word Wrap"><i class="icon-frame"></i></a>
    <a ng-click="hideLogOverlay($root.modalBuildId)" title="Close Log"><i class="icon-close"></i></a>
  </div>
  <div class="log-view-overlay log-view-body force-word-wrap" scroll-glue>
    <div class="overlay-title">Build Log <span>{{$root.modalBuildId}}</span></div>
    {{$root.logdata[$root.modalBuildId]}}
  </div>
</div>
<!-- END PAGE LOG OVERLAY -->


<!-- BEGIN MAIN JS-->
<script>
QuickNav.init();
</script>
<!-- BEGIN MAIN JS -->
