version: 2

jobs:

  build:

    # In CircleCI 2.0 you can now specify your own image, or use one of our pre-configured images.
    docker:
      #- image: circleci/node:10.16.3
      - image: suculent/thinx_baseline:first
        auth:
          username: $DOCKER_USERNAME  # can specify string literal values
          password: $DOCKER_PASSWORD  # or project environment variable reference

    working_directory: ~/suculent/thinx-device-api

    parallelism: 1

    shell: /bin/bash --login

    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      REDIS_URL: redis://localhost:6379

    steps:

    - run:
        name: Install Docker client
        command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

    - run:
        name: Install Docker Compose
        command: |
          curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
          chmod +x ~/docker-compose
          mv ~/docker-compose /usr/local/bin/docker-compose

    - setup_remote_docker

    - checkout

    # Restore the dependency cache
    - restore_cache:
        keys:
          # This branch if available
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

    - run:
        name: Fetch all submodules and tests
        command: |
          git submodule foreach --recursive 'git submodule sync' && git submodule update --init --recursive
          cd spec/test_repositories && bash ./get-tests.sh

    - run:
        name: Create Circle CI Artifacts Folders
        command: |
          mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
          mkdir -p $CIRCLE_TEST_REPORTS/reports

    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ checksum "package.json" }}

    - run:
        name: Init filesystem
        command: |
            mkdir -p /mnt/data/
            mkdir -p /mnt/data && cp -R ./conf /mnt/data
            mkdir -p /mnt/data/ssh_keys
            mkdir -p /mnt/data/mosquitto/auth
            mkdir -p /mnt/data/mosquitto/config
            mkdir -p /mnt/data/mosquitto/data
            mkdir -p /mnt/data/mosquitto/log
            mkdir -p /mnt/data/mosquitto/ssl
            mkdir -p /mnt/data/couchdb
            mkdir -p /mnt/data/deploy
            mkdir -p /mnt/data/data
            mkdir -p /mnt/data/redis
            mkdir -p /mnt/data/repos
            mkdir -p /mnt/data/ssl
            mkdir -p /mnt/data/test-reports

    - run:
        name: Setup environment
        command: |
          rm -rf ./Dockerfile
          mv ./Dockerfile.test ./Dockerfile
          cp -vf ./.env.dist ./.env
          cp -vf ./.env ./services/broker/.env
          cp -vf ./.env ./services/console/.env
          cp -vf ./.env ./services/couchdb/.env
          cp -vf ./.env ./services/redis/.env
          cp -vf ./.env ./services/transformer/.env
          cp -vf ./conf/config-test.json ./conf/config.json
          cp -vfR ./conf /mnt/data/
          echo "Contents of /mnt/data/conf"
          ls -la /mnt/data/conf
          cp -vf ./.env ./.thinx_env
          sed -i -e 's/^/export /' ./.thinx_env # create from .thinx_env from .env
          echo ".thinx_env contents:"
          cat ./.thinx_env
          echo "Contents of ./conf"
          ls -la ./conf
          echo "Contents of ./.env"
          cat ./.env
          echo "Contents of /mnt/data/mosquitto/**"
          ls -la /mnt/data/mosquitto/**
          cp -vf ./services/broker/config/thinx.acl.dist /mnt/data/mosquitto/auth/thinx.acl
          echo "Contents of /mnt/data/mosquitto/auth/thinx.acl"
          cat /mnt/data/mosquitto/auth/thinx.acl
          cp -vf ./services/broker/config/mosquitto.conf.dist /mnt/data/mosquitto/config/mosquitto.conf
          echo "Contents of /mnt/data/mosquitto/config/mosquitto.conf"
          cat /mnt/data/mosquitto/config/mosquitto.conf
          echo "Creating Docker Network (ID):"
          docker network create nat

    - run:
        name: Starting Mosquitto
        command: |
          docker-compose up -d --build mosquitto

    - run:
        name: Starting Redis
        command: |
          docker-compose up -d --build thinx-redis

    - run:
        name: Starting Transformer
        command: |
          docker-compose up -d --build transformer

    - run:
        name: Starting CouchDB and API Test
        command: |
          export ENVIRONMENT=test
          docker-compose up -d --build couchdb
          docker-compose up -d --build api
          echo "Tailing logs for one minute..."
          date
          timeout 60 docker-compose logs -f
          docker-compose stop
        # docker-compose up -d --build console

    - run:
        name: Check running Docker containers
        command: |
            docker ps
            docker network ls
            docker network inspect bridge

    # Save test results
    - store_test_results:
        path: /mnt/data/test-reports

    # Save artifacts
    - store_artifacts:
        path: /mnt/data/test-reports

workflows:
  version: 2
  integrate:
    jobs:
      - build
#      - test:
#          requires: build
