[submodule "thinx-firmware-esp8266-arduinoc-lib/thinx-lib-esp8266-arduinoc"]
	path = thinx-firmware-esp8266-arduinoc-lib/thinx-lib-esp8266-arduinoc
	url = https://github.com/suculent/thinx-lib-esp8266-arduinoc.git
