user mosquitto
persistence true
persistence_location /mqtt/data

log_type all
# log_dest file /mqtt/log/mosquitto.log
log_timestamp true
log_timestamp_format %Y-%m-%dT%H:%M:%S

allow_anonymous false
password_file /mqtt/auth/thinx.pw
acl_file /mqtt/auth/thinx.acl

listener 1883

#listener 8883
#certfile /mnt/data/mosquitto/cert.pem
#cafile /mnt/data/mosquitto/ca.pem
#keyfile /mnt/data/mosquitto/privkey.pem
#ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:AES256-GCM-SHA384:AES256-SHA256:AES256-SHA:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:AES128-GCM-SHA256:AES128-SHA256:AES128-SHA
#tls_version tlsv1.2
